main {
    overflow: hidden;
    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;
    }
    .block {
        flex: 0 0 calc(20% - 10px);
        height: 100px;
        background-color: #c4d3ff;
        padding: 10px;
        margin: 5px;
        box-shadow: -5px -5px 20px 1px #9eb6ff inset;
        font-size: 20px;
    }

    .block * {
        height: 33%;
    }
    .currency_before,
    .currency_after {
        text-align: right;
    }
    p {
        margin: 10px 0;
    }

    button {
        padding: 0 10px;
        margin: 10px;
        background-color: #c4d3ff;
        border-radius: 3px;
        cursor: pointer;
    }

    .showbtn:hover {
        background-color: #ccc;
    }
    .showbtn:active {
        transform: scale(0.95);
    }
    select {
        cursor: pointer;
    }
    select:hover {
        background-color: #ccc;
    }
    .rate_options {
        display: flex;
        flex-wrap: wrap;
        * {
            white-space: nowrap;
            display: flex;
            align-items: center;
            height: 40px;
            padding: 5px;
            margin: 10px 10px 5px 0;
            font-size: 16px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                "Helvetica Neue", sans-serif;
            font-weight: 400;
            background-color: #2a246425;
            border: none;
            outline: none;
            border-radius: 3px;
        }

        .input_search {
            flex: 1 1 10px;
            margin: 10px 0 5px auto;
            max-width: 250px;
            min-width: 50px;
        }
    }
    .block_buy_cell {
        background-color: #c4d3ff;
        padding: 10px 20px;
        box-shadow: -5px -5px 20px 1px #9eb6ff inset;
        display: flex;
        * {
            text-align: right;
            border: none;
            outline: none;
            display: block;
            padding: 10px 5px;
        }
    }

    @media (max-width: 900px) {
        .block {
            flex: 0 0 calc(25% - 10px);
        }
    }
    @media (max-width: 600px) {
        .block {
            flex: 0 0 calc(33.333% - 5px);
            margin: 2.5px;
        }
        .rate_options {
            margin: 2.5px -2.5px 0;
            * {
                flex: 0 1 calc(50% - 5px);
                margin: 2.5px;
                font-size: calc(3vmin + 1px);
            }
            .input_search {
                margin: 2.5px;
                max-width: 350px;
            }
            span {
                order: 1;
            }
            select {
                order: 3;
            }
            button {
                order: 2;
            }
            input {
                order: 4;
            }
        }
    }
    @media (max-width: 400px) {
        .block {
            flex: 0 0 calc(50% - 5px);
        }
    }
    @media (max-width: 200px) {
        .block {
            flex: 0 0 calc(100% - 5px);
        }
    }
}
